@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
:root {
  --primary-white: #fff;
  --primary-orange: #ff8038;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/*--------------- NAVBAR --------------------*/

.logo {
  width: 9.25rem;
  margin: -1.25rem;
  padding-top: 1rem;
}

/*---------------LinksNavBar-----------------*/

nav a.nav_link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav>li>a {
  color: var(--primary-white) !important;
  margin-right: 1rem;
  margin-left: 1rem;
  border-bottom: 0.2rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav>li>a.active, .navbar>li>a:focus {
  border-top: 0.2rem solid var(--primary-orange);
}

.navbar-nav>li>a:hover {
  border-bottom: 0.2rem solid var(--primary-orange);
}

/*--------------- Home --------------------*/

.home {
  text-align: -webkit-center;
  color: var(--primary-white);
  padding: 1rem 0rem 2.5rem 0rem;
  font-family: "Roboto Condensed" sans-serif;
}

.orange {
  color: var(--primary-orange);
}

h1 {
  margin: 0rem 0rem 2rem 0rem;
}

h2 p {
  font: 1.89rem sans-serif;
  margin-bottom: 0.45rem;
}

h3 {
  font: 1.29rem sans-serif;
  margin-top: 3rem;
  color: var(--primary-orange);
}

.martins img {
  width: 16rem;
  border-radius: 50%;
  border: 0.16rem solid var(--primary-orange);
  margin-bottom: 2rem;
  margin-top: 1rem;
}


/*--------------- About --------------------*/

.about {
  text-align: -webkit-center;
  color: var(--primary-white);
  padding: 1rem 0rem 2.5rem 0rem;
  font-family: "Roboto Condensed" sans-serif;
}

.about h1 {
  margin: 0rem 0rem 2rem 0rem;
}

.about h2 p {
  font: 1.89rem sans-serif;
  margin-bottom: 0.45rem;
}


/*--------------- Projects --------------------*/

.projects {
  text-align: -webkit-center;
  color: var(--primary-white);
  padding: 1rem 0rem 2.5rem 0rem;
  font-family: "Roboto Condensed" sans-serif;
}

.orange {
  color: var(--primary-orange);
}

.box {
  border: 1px solid var(--primary-orange);
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding: 2%;
}

.box .twitter-clone {
  padding-top: 7rem;
}

.box .links .github {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  color: var(--primary-white);
  margin: 1.25rem;
  padding: 0.625rem 0.9375rem;
  border-radius: 8%;
  background-color: var(--primary-orange);
  font-family: sans-serif;
}

.box .links .website {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 0.875rem;
  margin: 1.25rem;
  color: var(--primary-white);
  padding: 0.625rem 0.9375rem;
  border-radius: 8%;
  background-color: var(--primary-orange);
  font-family: sans-serif;
}

.box img {
  width: 30rem;
  float: left;
}