@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

:root {
  --primary-white: #fff;
  --primary-orange: #ff8038;
  --primary-dark: rgba(255, 255, 255, 0);
}

body {
  font-family: "Roboto Condensed" sans-serif;
}

/*--------------- NAVBAR --------------------*/

.logo {
  width: 12.25rem;
  margin: -1.25rem;
}

/*---------------LinksNavBar------------------------*/

nav a.nav_link {
  letter-spacing: 0.0375rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.navbar-nav > li > a {
  color: var(--primary-white) !important;
  margin-right: 1rem;
  margin-left: 1rem;
  border-bottom: 0.2rem solid var(--primary-dark);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar > li > a:focus {
  border-top: 0.2rem solid var(--primary-orange);
}

.navbar-nav > li > a:hover {
  border-bottom: 0.2rem solid var(--primary-orange);
}